In [1]:
#setup sqlite3
import sqlite3

In [2]:
#connect to Sailor Database
db = sqlite3.connect('Sailors.db')
cursor = db.cursor()

In [3]:
#cool tool you can use to insert queries
#and then see the relation that is outputed
import iSQL

result = iSQL.parser("Sailors.db")

#try the SQL query: SELECT * FROM Sailors
#now you can see the Sailors relation!

#try the same thing for Reserves!
#hint: SELECT * FROM Reserves

#try the same thing for boats!

#you can use this tool in the next couple of examples 
#to see the what you are outputting or you can just run the 
#output code I wrote to get the output in tuple form

VBox(children=(Textarea(value='', description='SQL:', layout=Layout(height='auto', width='600px')), HBox(childâ€¦

In [4]:
#Find the sailor(s) who reserved boat 103
sql = """
SELECT S.sname
FROM Sailors S, Reserves R
WHERE S.sid=R.sid AND R.bid=103"""

#output
cursor.execute(sql)
print(cursor.fetchall())

[('Dustin',), ('Lubber',), ('Horatio',)]

In [5]:
#Find sailors who've reserved at least one boat
sql1 = """
SELECT DISTINCT S.sname
FROM Sailors S, Reserves R
WHERE S.sid=R.sid"""

#if we did not have the DISTINCT key word then the sailor
#name could appear multiple times. For example, Dustin
#reserved a boat 4 times, so his name would appear 4 times.
#try the query for yourself without the DISTINCT keyword
#and see what happens!


#output
cursor.execute(sql1)
print(cursor.fetchall())

[('Dustin',), ('Lubber',), ('Horatio',)]

In [6]:
#but wait... two ppl have the name Horatio!
#let's instead do DISTINCT sid
sql2 = """
SELECT DISTINCT S.sid, S.sname
FROM Sailors S, Reserves R
WHERE S.sid=R.sid"""

#output
cursor.execute(sql2)
print(cursor.fetchall())

#now there are 4 results! much better!
#Remember: DISTINCT applies to the output

[(22, 'Dustin'), (31, 'Lubber'), (64, 'Horatio'), (74, 'Horatio')]

In [7]:
#let's try an example where we rename the columns
sql3 = """
SELECT S.age, S.age*12.0 AS ageMonths, 10-S.rating AS revRating
FROM Sailors S
WHERE S.sname LIKE '_us%'"""

#like is used for approximate string matching

#try this in the cool tool in cell 3 so you can actually see the column names change!

#output
cursor.execute(sql3)
print(cursor.fetchall())

[(45.0, 540.0, 2), (35.0, 420.0, 0)]

In [8]:
#Find sid's of sailors who've reserved a red OR a green boat
sql4 = """
SELECT DISTINCT S.sname, S.sid
FROM Sailors S, Boats B, Reserves R
WHERE S.sid=R.sid AND R.bid=B.bid
AND (B.color="red" OR B.color="green")
"""
cursor.execute(sql4)
print(cursor.fetchall())


#There's another way to do this w UNION
#bc UNION is a set operation we don't need the DISTINCT keyword
sql5 = """
SELECT S.sname, S.sid
FROM Sailors S, Boats B, Reserves R
WHERE S.sid=R.sid AND R.bid=B.bid
AND B.color="red"
UNION
SELECT S.sname, S.sid
FROM Sailors S, Boats B, Reserves R
WHERE S.sid=R.sid AND R.bid=B.bid
AND B.color="green"
"""

#try the sql5 query w EXCEPT instead of UNION to get a diff result

cursor.execute(sql5)
print(cursor.fetchall())

[('Dustin', 22), ('Lubber', 31), ('Horatio', 64), ('Horatio', 74)]
[('Dustin', 22), ('Horatio', 64), ('Horatio', 74), ('Lubber', 31)]

In [22]:
#Find sid's of sailors who've reserved a red AND a green boat
sql6 = """
SELECT DISTINCT S.sname, S.sid
FROM Sailors S, Boats B1, Reserves R1,
                Boats B2, Reserves R2
WHERE S.sid=R1.sid AND R1.bid=B1.bid
AND S.sid=R2.sid AND R2.bid=B2.bid
AND (B1.color="red" AND B2.color="green")"""

#try running this query by taking one of the Reserves out
#referencing the same reserves for B2... what happens?

#There's also another way to do this problem! Use INTERSECT
#hint: KMP does this in slide 12

cursor.execute(sql6)
print(cursor.fetchall())

[('Dustin', 22), ('Lubber', 31)]

In [ ]:
#Nested Query Example

#Find names of sailors who've never reserved boat 103
sql7 = """
SELECT S.sid, S.sname
FROM Sailors S
WHERE S.sid NOT IN (SELECT DISTINCT R.sid
                    FROM Reserves R
                    WHERE R.bid 103)"""

#can you write the code to get the output?

In [ ]:
#Find names of sailors who've reserved any boat:
sql8 = """
SELECT S.sid, S.sname
FROM Sailors S
WHERE EXISTS (SELECT *
            FROM Reserves R
            WHERE S.sid=R.sid)"""
#can you write the code to get the output?