# Assignment 1 Comp 521 Spring 2021

Answer each question below by filling in code at the point indicated.
Do not modify any of the other cells. 

You __must__ run the cells in order. It looks like you can come back later after restarting and pick up where you left off but that is not the case. When restarting you always have to start at the top of the notebook and run each cell in turn.

In [28]:
# fill in the information below
Author = 'mansisak'
Collaborators = []

In [29]:
# checker setup do NOT change this
import comp521
check, report = comp521.start('A1')

In [30]:
# setup, no need to change this
import sqlite3

For this assignment you have relations with these schemas

 ```sql
 create table Department (
     did integer primary key, 
     name text)

 create table Course (
     cid integer primary key,
     did integer,
     name text,
     num integer,
     creditHours integer,
     foreign key (did) references Department)
     
 create table Student (
     sid integer primary key,
     did integer,
     fname text,
     lname text,
     foreign key (did) references Department)

 create table Enrolled_in (
     eid integer primary key,
     sid integer,
     cid integer,
     foreign key (sid) references Student,
     foreign key (cid) references Course)
       
 ```



I will open the database for you below.

In [31]:
# do not change this
db = sqlite3.connect('CourseEnrollment.sqlite')
cursor = db.cursor()

In [32]:
"""
cursor.execute('''
CREATE TABLE Department (
    did INTEGER,
    name TEXT,
    PRIMARY KEY (did)
)
''')

cursor.execute('''
CREATE TABLE Course (
    cid INTEGER,
    did INTEGER,
    name TEXT,
    num INTEGER,
    creditHours INTEGER,
    PRIMARY KEY (did),
    FOREIGN KEY (did) REFERENCES Depeartment
)
''')

cursor.execute('''
CREATE TABLE Student (
    sid INTEGER,
    sid INTEGER,
    cid INTEGER,
    fname TEXT,
    lname TEXT,
    PRIMARY KEY (sid),
    FOREIGN KEY (did) REFERENCES Depeartment
)
''')

cursor.execute('''
CREATE TABLE Enrolled_in (
    eid INTEGER,
    did INTEGER,
    fname TEXT,
    lname TEXT,
    PRIMARY KEY (eid),
    FOREIGN KEY (sid) REFERENCES Student,
    FOREIGN KEY (cid) REFERNECES Course
)
''')
"""

"\ncursor.execute('''\nCREATE TABLE Department (\n    did INTEGER,\n    name TEXT,\n    PRIMARY KEY (did)\n)\n''')\n\ncursor.execute('''\nCREATE TABLE Course (\n    cid INTEGER,\n    did INTEGER,\n    name TEXT,\n    num INTEGER,\n    creditHours INTEGER,\n    PRIMARY KEY (did),\n    FOREIGN KEY (did) REFERENCES Depeartment\n)\n''')\n\ncursor.execute('''\nCREATE TABLE Student (\n    sid INTEGER,\n    sid INTEGER,\n    cid INTEGER,\n    fname TEXT,\n    lname TEXT,\n    PRIMARY KEY (sid),\n    FOREIGN KEY (did) REFERENCES Depeartment\n)\n''')\n\ncursor.execute('''\nCREATE TABLE Enrolled_in (\n    eid INTEGER,\n    did INTEGER,\n    fname TEXT,\n    lname TEXT,\n    PRIMARY KEY (eid),\n    FOREIGN KEY (sid) REFERENCES Student,\n    FOREIGN KEY (cid) REFERNECES Course\n)\n''')\n"

For the next three questions write a SQL query that produces a result that is equivalent to the Relational Algebra expression. I will execute the SQL query for you.

## Question 1

Translate this Relational Algebra expression into SQL: $\pi_{name} \sigma_{num < 500} Course$

In [33]:
# write your SQL expression here
#LinAlg exrpression is asking for list of names 
#of courses that are numbered under 500
sql1 = """
SELECT name
FROM Course
WHERE num<500
"""


# checking code. Do NOT change this.
cursor.execute(sql1)
c1 = cursor.fetchall()
check('Q1', c1, points=5, sort=True)

Q1 appears correct

## Question 2

$\pi_{fname,lname}\sigma_{name='Files\ and\ Databases'}(Student\bowtie Enrolled\_In \bowtie Course)$

In [34]:
# Assign your result to c2
#LinAlg expressin is asking for us to print student's first and last name
#if they are entrolled in Files and Databases
sql2 = """
SELECT S.fname, S.lname
FROM Student S, Course C, Enrolled_in E
WHERE C.name LIKE 'Files and Databases' AND 
E.sid==S.sid AND
C.cid==E.cid
"""

# checking
cursor.execute(sql2)
c2 = cursor.fetchall()
check('Q2', c2, points=5, sort=True)

Q2 appears correct

## Question 3
$ \pi_{fname,lname} \sigma_{name='ANTH'} (Student \bowtie Department) $

In [35]:
# assign to c3
#Print fname and last name of any student who is in the ANTH department
sql3 = """
SELECT S.fname, S.lname
FROM Student S, Department D
WHERE D.name LIKE 'ANTH' AND 
D.did==S.did
"""

# checking
cursor.execute(sql3)
c3 = cursor.fetchall()
check('Q3', c3, points=5, sort=True)

Q3 appears correct

## Question 4
$ \pi_{name} \sigma_{creditHours=3} Course $

In [36]:
# assign to sql4
#Want name of all courses that are 3 credit hours
sql4 = """
SELECT name
FROM Course
WHERE creditHours==3
"""

# checking
cursor.execute(sql4)
c4 = cursor.fetchall()
check('Q4', c4, points=5, sort=True)

Q4 appears correct

For these next questions, write a SQL query to fetch the requested information. From here on, I want you
to write the Python code as well as the query. The questions above provide an example of what you must type.

## Question 5
Find the names of all 4 credit hour courses.

In [37]:
# your code here
c5 = [] # the result of fetch all goes in this variable

sql5 = """
SELECT name
FROM Course
WHERE creditHours==4
"""

cursor.execute(sql5)
c5 = cursor.fetchall()
check('Q5', c5, points=10, sort=True)

Q5 appears correct

## Question 6
Find the first and last names of all students enrolled in COMP courses.

In [38]:
# your code here
c6 = [] # the result of fetch all goes in this variable

sql6 = """
SELECT DISTINCT S.fname, S.lname
FROM Student S, Enrolled_in E, Department D, Course C
WHERE D.name LIKE 'COMP' AND 
C.did==D.did AND
E.sid==S.sid AND
C.cid==E.cid

"""

cursor.execute(sql6)
c6 = cursor.fetchall()
check('Q6', c6, points=10, sort=True)

Q6 appears correct

## Question 7
Find the first and last names of all students enrolled in courses of at least 500 level.

In [39]:
# your code here
c7 = [] # the result of fetch all goes in this variable
sql7 = """
SELECT DISTINCT S.fname, S.lname
FROM Student S, Enrolled_in E, Course C
WHERE C.num>=500 AND
E.sid==S.sid AND
C.cid==E.cid
"""

cursor.execute(sql7)
c7 = cursor.fetchall()
check('Q7', c7, points=10, sort=True)

Q7 appears correct

## Question 8
Find the first and last names of all students enrolled in 'Data Structures' and 'Anthropology of the Body and the Subject'.

In [40]:
# your code here
c8 = [] # the result of fetch all goes in this variable
sql8 = """
SELECT DISTINCT S.fname, S.lname
FROM Student S, Enrolled_in E1, Course C1, Enrolled_in E2, Course C2
WHERE (C1.name LIKE 'Data Structures' AND C2.name LIKE 'Anthropology of the Body and the Subject') AND
E1.sid==S.sid AND
C1.cid==E1.cid AND
E2.sid==S.sid AND
C2.cid==E2.cid
"""

cursor.execute(sql8)
c8 = cursor.fetchall()
check('Q8', c8, points=15, sort=True)

Q8 appears correct

## Done!

Now get your report and submit your assignment. We will post submission instructions separately.

In [41]:
report(Author, Collaborators)

  Collaborators: []
Report for mansisak
  8 of 8 appear correct, 65 of 65 points